
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Workforce Management</h1>
</div>


<div>
    <h2>Welcome to Workforce Management</h2>
    <p>
        Entity Framework in an
        ASP.NET MVC 5 web application.
    </p>
</div>

